<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Mech Scrapper: The MechWarrior Scraper</title>
		  <link rel="stylesheet" href="style.css" type="text/css" />
      <!-- Bootswatch Styling for Improving the Aesthetics -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      <!-- Font Awesome CSS Icons (For cool glyphicons) -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


      <!-- Style to fix the issue of text extending past panel length -->
      <style>
        .panel-body a {
          word-break: break-all;
        }
      </style>

	</head>
	<body class="body">

    <div class="container">
		    {{{ body }}}
    </div>

    <!-- jQuery JS -->
    <script src="https://code.jquery.com/jquery.js"></script>
	</body>
</html>
