  <!-- Main Bootstrap Search -->
  <div class="container">

    <!-- Jumbotron for Title -->
    <div class="jumbotron" style="background-color: #20315A ; color: white;">
      <h1 class="text-center"><strong><i class="fa fa-newspaper-o"></i>Mongo Scraper</strong></h1>
    </div>

    <div id="buttons">
      <button id="getArticles">Get New Articles</button>
      <button id="name-sort">Sort By Name</button>
    </div>

    <!-- This row will handle all of the retrieved articles -->
    <div class="row">
      <div class="col-sm-12">
        <br>

        <!-- This panel will initially be made up of a panel and wells for each of the articles retrieved -->
        <div class="panel panel-primary">

          <!-- Panel Heading for the retrieved articles box -->
          <div class="panel-heading">
            <h3 class="panel-title"><strong><i class="fa fa-table"></i>   Top Articles</strong></h3>
          </div>

      <table>
          <!-- This main panel will hold each of the resulting articles -->
          <div class="panel-body" id="well-section">
            WAT
            {{#each results}}
              <li>
                {{this.title}}
              </li>
            {{/each}}
          </div>          
      </table>

        </div>
      </div>
    </div>

    <!-- Footer Region -->
    <div class="row">
      <div class="col-sm-12">

        <!-- Line Break followed by closing -->

      </div>
    </div>

  </div>


  <!-- Code to the JavaScript File -->
  <!-- <script src="app.js"></script> -->
